-# messages#index transfer part
.trans
  .trans__transContent
    .trans__transContent__transContentDoors
      .trans__transContent__transContentDoors__transContentDoorsLink
        = link_to "Open DoorS", pairs_path(current_user), class: "doorsLink"
    .trans__transContent__transContentState
      .trans__transContent__transContentState__transContentStateLink
        .trans__transContent__transContentState__transContentStateLink__transContentStateLinkBtn
          -# = link_to "About HIM / HER", about_path(@about), class: "transBtn transBtnDoor"
          = link_to "About HIM / HER", "#", class: "transBtn transBtnDoor"

-# messages#index part
.mess
  -# top form ＝＝＝＝＝＝＝＝＝＝＝＝
  .mess__messContent
    -# Title ＝＝＝＝＝＝＝＝＝＝＝＝＝
    .mess__messContent__messContentTitle
      .mess__messContent__messContentTitle__messContentTitleDoor
        %h2.kkdDoor ~~ Knock-Knock Door ~~
      .mess__messContent__messContentTitle__messContentTitlePair
        %h6.kkdPairSomeone about HIM/HER
        %h6.kkdPairMe about ME
    -# Pair Users ＝＝＝＝＝＝＝＝＝＝＝＝
    .mess__messContent__messContentPair
      .mess__messContent__messContentPair__messContentPairYou
        .mess__messContent__messContentPair__messContentPairYou__messContentPairYouIcon
          - @pair.users.each do |user|
            - us = User.find_by(name: user.name)
            - if us.id != current_user.id
              - us.about.photos.each do |ph|
                = image_tag  ph.image.url, size: "55x55"
        .mess__messContent__messContentPair__messContentPairYou__messContentPairYouName
          - if @pair.users[0].name != current_user.name
            = @pair.users[0].name
          - else
            = @pair.users[1].name
      .mess__messContent__messContentPair__messContentPairMe
        .mess__messContent__messContentPair__messContentPairMe__messContentPairMeIcon
          - current_user.about.photos.each do |p|
            = image_tag p.image.url, size: "55x55"
        .mess__messContent__messContentPair__messContentPairMe__messContentPairMeName
          = current_user.name

  -# Display Form ＝＝＝＝＝＝＝＝＝＝＝＝
  .mess__messPost
    .mess__messPost__messPostChat
      .mess__messPost__messPostChat__messPostChatBox
        .mess__messPost__messPostChat__messPostChatBox__messPostChatBoxRL
          - @pair.messages.each do |message|
            - if message.user_id == current_user.id
              .messRight
                .RLDate
                  = message.created_at.strftime("%Y/%m/%d(%a) %H:%M(%Z)")
                .RLMessage
                  - if message.content.present?
                    .RLMessageContent
                      = message.content
                  - if message.image.present?
                    .RLMessageImage
                      = image_tag message.image.url, class: "chatImage", size: "123x123"
            - else
              .messLeft
                .RLDate
                  = message.created_at.strftime("%Y/%m/%d(%a) %H:%M(%Z)")
                .RLMessage
                  - if message.content.present?
                    .RLMessageContent
                      = message.content
                  - if message.image.present?
                    .RLMessageImage
                      = image_tag message.image.url, class: "chatImage", size: "123x123"




  -# Submit Form ＝＝＝＝＝＝＝＝＝＝＝＝＝
  .mess__messSubmit
    .mess__messSubmit__messSubmitForm
      = form_with model: [@pair,@message], class: "messForm", local: true do |f|
        .messFormBoard
          = f.text_field :content, class: "messText", placeholder: " type from here"
          .messMask
            = f.label :image, class: "messLabel" do
              %i.fas.fa-camera-retro.chatIcon
              = f.file_field :image, class: "messFile"
        .messFormBtn
          = f.submit "SEND", class: "messSubmitBtn"

