.regis
  .regis__regisContent
    .regis__regisContent__regisContentHead
      %h2 Sign Up

    .regis__regisContent__regisContentBody

      -# @ユーザ情報が必要か
      -# = form_for(@user, url: user_registration_path) do |f|
      -#   = render "devise/shared/error_messages", resource: @user
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource

        .regis__regisContent__regisContentBody__regisContentBodyFrom
          = f.label :name, class: "regisLabel"
          %span.regisMust Mmandatory
          %br/
          = f.text_field :name, autofocus: true, class: "regisField", placeholder: "  your nickname"

        .regis__regisContent__regisContentBody__regisContentBodyFrom
          = f.label :email, class: "regisLabel"
          %span.regisMust Mmandatory
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "regisField", placeholder: "  any mail address"

        .regis__regisContent__regisContentBody__regisContentBodyFrom
          = f.label :password, class: "regisLabel"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum) <-fix!
          %span.regisMust Mmandatory
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "regisField", placeholder: "  8+ password"

        .regis__regisContent__regisContentBody__regisContentBodyFrom
          = f.label :password_confirmation, class: "regisLabel"
          %span.regisMust Mmandatory
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "regisField", placeholder: "  same one"

        .regis__regisContent__regisContentBody__regisContentBodySubmit
          = f.submit "Sign up", class: "regisContentBodySubmitBtn"

      = render "devise/shared/links"
