%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# ==== pairs#index part =============================
.pairIndex
  .pairIndex__pairIndexContent
    -# ---- DoorS title ------------------------
    .pairIndex__pairIndexContent__pairIndexContentTitle
      .pairIndex__pairIndexContent__pairIndexContentTitle__pairIndexContentTitleHead
        %h2.pairIndexTitleHead DoorS
      .pairIndex__pairIndexContent__pairIndexContentTitle__pairIndexContentTitleCode


    -# ---- door hanger list------------------------
    .pairIndex__pairIndexContent__pairIndexContentHanger
      .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerHead
        %i.fas.fa-weight-hanging.pairIndexDoorLogo
        %h3.pairIndexHangerHead door hangers

      .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerCode
        .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerCode__pairIndexContentHangerCodeLimit
          - @currentHangers.each do |currentHanger|
            - currentUser_usersPair_Array = []
            - currentUser_usersPairs = UsersPair.where(user_id: current_user.id)
            - currentUser_usersPairs.each do |currentUser_usersPair|
              - currentUser_usersPair_Array << currentUser_usersPair.pair_id
            - hangerAbout = About.find_by(id: currentHanger.about_id)
            - hangerAbout_usersPair_Array = []
            - hangerAbout_usersPairs = UsersPair.where(user_id: hangerAbout.user_id)
            - hangerAbout_usersPairs.each do |hangerAbout_usersPair|
              - hangerAbout_usersPair_Array << hangerAbout_usersPair.pair_id
            - if (currentUser_usersPair_Array & hangerAbout_usersPair_Array).blank?
              .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerCode__pairIndexContentHangerCodeLimit__pairIndexContentHangerCodeLimitTable
                %table
                  %tr
                    %th Date
                    %th Photo
                    %th Name
                    %th HIM/HER
                    %th Door
                  %tr
                    %th
                      = currentHanger.updated_at.strftime("%Y/%m/%d")
                    %th
                      - hangerPhoto = Photo.find_by(about_id: currentHanger.about_id)
                      - if hangerPhoto.blank?
                        = p "no icon"
                      - else
                        = image_tag hangerPhoto.image.url, class: "ppdfghjpppp", size: "100x100"
                    %th
                      - hangerAbout = About.find_by(id: currentHanger.about_id)
                      - hangerUser = User.where(id: hangerAbout.user_id)
                      = hangerUser[0].name
                    %th
                      = link_to "About", about_path(hangerAbout), class: "pbbbbbbbb"
                    %th
                      = link_to "knock-knock", new_pair_path(hangerAbout), class: "tbbbbbbb"


    -# ---- knocked door list ------------------------
    .pairIndex__pairIndexContent__pairIndexContentDoor
      .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorHead
        %i.fas.fa-door-open.pairIndexHangerLogo
        %h3.pairIndexDoorHead knocked doors

      .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorCode
        .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorCode__pairIndexContentDoorCodeLimit
          - @currentUsersPairs.each do |currentUsersPair|
            - upwwn = UsersPair.where(pair_id: currentUsersPair.pair_id).where.not(user_id: current_user.id)[0]
            - aboutUpwwn = About.find_by(user_id: upwwn.user_id)
            .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorCode__pairIndexContentDoorCodeLimit__pairIndexContentDoorCodeLimitTable
              %table
                %tr
                  %th Date
                  %th Photo
                  %th Name
                  %th HIM/HER
                  %th Door
                  %th Last Message
                  %th Delete Door
                %tr
                  %th
                    - messages = Message.where(pair_id: currentUsersPair.pair_id)
                    - lastMessage = messages.last
                    - if lastMessage.blank?
                      = currentUsersPair.updated_at.strftime("%Y/%m/%d")
                    - else
                      = lastMessage.created_at.strftime("%Y/%m/%d")
                  %th
                    - photoAboutUpwwn = Photo.where(about_id: aboutUpwwn.id)
                    - if photoAboutUpwwn.blank?
                      = p "no icon"
                    - else
                      = image_tag photoAboutUpwwn[0].image.url, class: "paaapghjkpppp", size: "100x100"
                  %th
                    - userUpwwn = User.find_by(id: upwwn.user_id)
                    = userUpwwn.name
                  %th
                    = link_to "About", about_path(aboutUpwwn), class: "pbbbbbbbaaaaab"
                  %th
                    = link_to "knock-knock", pair_messages_path(currentUsersPair.pair_id), class: "pbbbbbbbssssaaaaab"
                  %th
                    - messages = Message.where(pair_id: currentUsersPair.pair_id)
                    - lastMessage = messages.last
                    - if lastMessage.blank?
                      = "no message yet."
                    - else
                      - if lastMessage.image.present? && lastMessage.content.blank?
                        = "last one is the picture."
                      - else
                        = lastMessage.content
                  %th
                    = link_to "delete", pair_path(currentUsersPair.pair_id), class: "paaaaaaaaaa", method: :delete, data: {confirm: "delete this door really ?"}

