-# ==== pairs#index part ================================
.pairIndex
  .pairIndex__pairIndexContent
    -# ---- DoorS title ---------------------------
    .pairIndex__pairIndexContent__pairIndexContentTitle
      .pairIndex__pairIndexContent__pairIndexContentTitle__pairIndexContentTitleHead
        %h2.pairIndexTitleHead DoorS
      .pairIndex__pairIndexContent__pairIndexContentTitle__pairIndexContentTitleCode


    -# ---- door hanger list-----------------------
    .pairIndex__pairIndexContent__pairIndexContentHanger
      .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerHead
        %i.fas.fa-weight-hanging.pairIndexDoorLogo
        %h3.pairIndexHangerHead door hangers

      .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerCode
        .pairIndex__pairIndexContent__pairIndexContentHanger__pairIndexContentHangerCode__pairIndexContentHangerCodeLimit
          .table-responsive
            %table.table.table-hover.table-bordered
              %caption List of hangers
              %thead.thead-light
                %tr.h3
                  %th{scope: "col"} Date
                  %th{scope: "col"} Icon
                  %th{scope: "col"} Name
                  %th{scope: "col"} HIM/HER
                  %th{scope: "col"} Door
              %tbody
                - @currentHangers.each do |currentHanger|
                  - currentUser_usersPair_Array = []
                  - currentUser_usersPairs = UsersPair.where(user_id: current_user.id)
                  - currentUser_usersPairs.each do |currentUser_usersPair|
                    - currentUser_usersPair_Array << currentUser_usersPair.pair_id
                  - hangerAbout = About.find_by(id: currentHanger.about_id)
                  - hangerAbout_usersPair_Array = []
                  - hangerAbout_usersPairs = UsersPair.where(user_id: hangerAbout.user_id)
                  - hangerAbout_usersPairs.each do |hangerAbout_usersPair|
                    - hangerAbout_usersPair_Array << hangerAbout_usersPair.pair_id
                  - if (currentUser_usersPair_Array & hangerAbout_usersPair_Array).blank?
                    %tr.h5.tableRecord
                      %td
                        = currentHanger.updated_at.strftime("%Y/%m/%d")
                      %td
                        - hangerPhoto = Photo.find_by(about_id: currentHanger.about_id)
                        - if hangerPhoto.blank?
                          = p "no icon"
                        - else
                          = image_tag hangerPhoto.image.url, class: "pairsIndexHangerPhoto", size: "44x44"
                      %td
                        - hangerAbout = About.find_by(id: currentHanger.about_id)
                        - hangerUser = User.where(id: hangerAbout.user_id)
                        = hangerUser[0].name
                      %td
                        = link_to "About", about_path(hangerAbout), class: "pairsIndexAboutHanger"
                      %td
                        = link_to "knock-knock", new_pair_path(hangerAbout), class: "pairsIndexKnockHanger"


    -# ---- knocked door list ---------------------
    .pairIndex__pairIndexContent__pairIndexContentDoor
      .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorHead
        %i.fas.fa-door-open.pairIndexHangerLogo
        %h3.pairIndexDoorHead knocked doors

      .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorCode
        .pairIndex__pairIndexContent__pairIndexContentDoor__pairIndexContentDoorCode__pairIndexContentDoorCodeLimit
          .table-responsive
            %table.table.table-hover.table-bordered
              %caption List of knock-knocks
              %thead.thead-light
                %tr.h3
                  %th{scope: "col"} Date
                  %th{scope: "col"} Icon
                  %th{scope: "col"} Name
                  %th{scope: "col"} HIM/HER
                  %th{scope: "col"} Door
                  %th{scope: "col"} Last Message
                  %th{scope: "col"} Delete Door
              %tbody
                - @currentUsersPairs.each do |currentUsersPair|
                  - upwwn = UsersPair.where(pair_id: currentUsersPair.pair_id).where.not(user_id: current_user.id)[0]
                  - aboutUpwwn = About.find_by(user_id: upwwn.user_id)
                  %tr.h5
                    %td
                      - messages = Message.where(pair_id: currentUsersPair.pair_id)
                      - lastMessage = messages.last
                      - if lastMessage.blank?
                        = currentUsersPair.updated_at.strftime("%Y/%m/%d")
                      - else
                        = lastMessage.created_at.strftime("%Y/%m/%d")
                    %td
                      - photoAboutUpwwn = Photo.where(about_id: aboutUpwwn.id)
                      - if photoAboutUpwwn.blank?
                        = p "no icon"
                      - else
                        = image_tag photoAboutUpwwn[0].image.url, class: "pairsIndexPhotoAboutUpwwn", size: "44x44"
                    %td
                      - userUpwwn = User.find_by(id: upwwn.user_id)
                      = userUpwwn.name
                    %td
                      = link_to "About", about_path(aboutUpwwn), class: "pairsIndexAboutPair"
                    %td
                      = link_to "knock-knock", pair_messages_path(currentUsersPair.pair_id), class: "pairsIndexKnockPair"
                    %td
                      - messages = Message.where(pair_id: currentUsersPair.pair_id)
                      - lastMessage = messages.last
                      - if lastMessage.blank?
                        = "no message yet."
                      - else
                        - if lastMessage.image.present? && lastMessage.content.blank?
                          = "last one is the picture."
                        - else
                          = lastMessage.content
                    %td
                      = link_to "delete", pair_path(currentUsersPair.pair_id), class: "pairsIndexDoorDelete", method: :delete, data: {confirm: "delete this door really ? :_("}

