-# pairs#new second header part
.trans
  .trans__transContent
    .trans__transContent__transContentDoors
      .trans__transContent__transContentDoors__transContentDoorsLink
        = link_to "Open DoorS", "#", class: "doorsLink"
    .trans__transContent__transContentState
      .trans__transContent__transContentState__transContentStateLink
        .trans__transContent__transContentState__transContentStateLink__transContentStateLinkBtn
          = link_to "Back to About HIM / HER", about_path(@about.id), class: "transBtn transBtnDoor"

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
-# pairs#new part
Knock on the door?
%br
%br
About ME：わたしの名前とid番号
= current_user.name
= current_user.id
%br
About AZ：相手の名前とid番号
= @about.user.name
= @about.user.id
ーーーーーーーーー
%br
%br
check both door knob box ,and Knock-knock!
%br
%br
= form_for @pair do |f|
  = f.text_field :name, class: "chatGroup__input", placeholder: "ペア名を入力してください→名前は削除かつ、同じペア？作成不可"
  = f.collection_check_boxes :user_ids, User.where(id: current_user.id).or(User.where(id: @about.user_id)), :id, :name
  = f.submit "knock-knock!", class: "chatGroup__btn"

