-# ===== from layouts/application.html.haml =================
.footer
  .footer__footerContent
    .footer__footerContent__footerContentFoot
      .foot
        %ul.footUl
          %li.footUlLi
            %h2.footUlLiHead
              "About Us"
            %ul.footUlLiBody
              %li= link_to "Adventure", root_path, class: "footest", data: {confirm: "You can do it! Let's give it a try! ;)"}
              %li= link_to "Our Team", root_path, class: "footest"
              %li= link_to "Contacts", root_path, class: "footest"
          %li.footUlLi
            %h2.footUlLiHead
              "Support"
            %ul.footUlLiBody
              %li= link_to "Currency", root_path, class: "footest"
              %li= link_to "Insights", root_path, class: "footest"
              %li= link_to "Guides", root_path, class: "footest"
          %li.footUlLi
            %h2.footUlLiHead
              "Related Sites"
            %ul.footUlLiBody
              %li= link_to "Booking.com", "https://www.booking.com/index.en-gb.html", class: "footest"
              %li= link_to "Skyscanner", "https://www.skyscanner.net/", class: "footest"
              %li= link_to "Tripadvisor", "https://www.tripadvisor.com/", class: "footest"

    .footer__footerContent__footerContentRights
      .rahoo
        %h1.rahooHead
          Copyright (C) 2020 Rahoo! Corporation. All Rights Reserved.
