-# ===== from layouts/application.html.haml =================
.header
  .header__headerContent
    .header__headerContent__headerContentDoor
      .header__headerContent__headerContentDoor__headerContentDoorLogo
        = link_to root_path, class: "doorOpen" do
          %i.fas.fa-hiking
          %i.fas.fa-door-open
    .header__headerContent__headerContentKnock
      .header__headerContent__headerContentKnock__headerContentKnockTitle
        = link_to "Knock-Knock!", root_path, class: "knockknock"
    .header__headerContent__headerContentLink
      - if user_signed_in?
        .header__headerContent__headerContentLink__headerContentLinkLeft
          - if About.find_by(user_id: current_user.id).present?
            = link_to "AboutMe", about_path(About.find_by(user_id: current_user.id).id), class: "leftBtn"
          - else
            = link_to "AboutMe", new_about_path, class: "leftBtn"
        .header__headerContent__headerContentLink__headerContentLinkRight
          = link_to "LogOut", destroy_user_session_path, class: "rightBtn", method: :delete, data: {confirm: "log out really ?"}
      - else
        .header__headerContent__headerContentLink__headerContentLinkLeft
          = link_to "SignUp", new_user_registration_path, class: "leftBtn"
        .header__headerContent__headerContentLink__headerContentLinkRight
          = link_to "LogIn", new_user_session_path, class: "rightBtn"
