.wrapper
  -# = render "header"
  -# = render "banner"
  -# = render "mapper"
  -# = render "teller"
  -# = render "solidAnimal"
  -# = render "footer"

  .banner
    .banner__bannerContent
      .banner__bannerContent__bannerContentImage
        %p#slideshow.slideshow
          -# 以下記述は後に修正検討
          -# %img.active{alt: "noReadable", src: "freeTravelPhoto1.jpg", width: "490px", height: "250px"}
          = image_tag "freeTravelPhoto1.jpg", alt: "noReadable", class: "active "
          = image_tag "freeTravelPhoto2.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto3.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto4.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto5.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto6.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto7.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto8.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto9.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto10.jpg", alt: "noReadable"
          = image_tag "freeTravelPhoto11.jpg", alt: "noReadable"

  -# TODO:
  .mapper
    .mapper__mapperContent
      .mapper__mapperContent__mapperContentHead
        .mapper__mapperContent__mapperContentHead__mapperContentHeadLetter
          %h1.letter.letter1 " Life is a journey, journey is a life. "
          %h2.letter.letter2 〜 人生とは旅であり、旅とは人生である 〜
          %h3.letter.letter3 by Hidetoshi Nakata
      .mapper__mapperContent__mapperContentBody
        .mapper__mapperContent__mapperContentBody__mapperContentBodyAtlas
          .mapper__mapperContent__mapperContentBody__mapperContentBodyAtlas__mapperContentBodyAtlasWord
            Find Travellers and Try to Talk
          .mapper__mapperContent__mapperContentBody__mapperContentBodyAtlas__mapperContentBodyAtlasGo
            -# FIXME:
            #map
              -# APIマップ埋め込むぞ、
              -# ピン立てる、
              -# Ajax紹介__Aboutme、
              -# 招待フラグ、
              -# 貢献評価草、
              -# ピンの時間と国名都市名、
              -# ピンまでの距離

  -# TODO:
  .teller
    .teller__tellerContent
      .teller__tellerContent__tellerContentSuggestion
        .teller__tellerContent__tellerContentSuggestion__tellerContentSuggestionBody
          おすすめの体験！（投稿よりピックアップ）表形式
      .teller__tellerContent__tellerContentNews
        .teller__tellerContent__tellerContentNews__tellerContentNewsBody
          ワールドニュースAPI表形式
