.wrapper
  .banner
    .banner__bannerContent
      .banner__bannerContent__bannerContentImage
        %p#slideshow.slideshow
          -# considering alternative syntax
          -# %img.active{alt: "noReadable", src: "freeTravelPhoto1.jpg", width: "543px", height: "345px"}
          -# = image_tag "/assets/freeTravelPhoto1.jpg", alt: "noReadable", class: "active "
          -# -----------
          -# = image_tag "freeTravelPhoto1.jpg", alt: "noReadable", class: "active "
          -# = image_tag "freeTravelPhoto2.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto3.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto4.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto5.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto6.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto7.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto8.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto9.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto10.jpg", alt: "noReadable"
          -# = image_tag "freeTravelPhoto11.jpg", alt: "noReadable"
          -# -----------------
          = image_tag asset_path("freeTravelPhoto1.jpg"), alt: "noReadable", class: "active "
          = image_tag asset_path("freeTravelPhoto2.jpg"), alt: "noReadable"
          = image_tag asset_path("freeTravelPhoto3.jpg"), alt: "noReadable"
    

  .mapper
    .mapper__mapperContent
      .mapper__mapperContent__mapperContentHead
        .mapper__mapperContent__mapperContentHead__mapperContentHeadLetter
          %h1.letter.letter1 " Life is a journey, journey is a life. "
          %h2.letter.letter2 〜 人生とは旅であり、旅とは人生である 〜
          %h3.letter.letter3 by Hidetoshi Nakata
      .mapper__mapperContent__mapperContentBody
        .mapper__mapperContent__mapperContentBody__mapperContentBodyAtlas
          .mapper__mapperContent__mapperContentBody__mapperContentBodyAtlas__mapperContentBodyAtlasWord
            Find Travellers and Try to Talk
          .mapper__mapperContent__mapperContentBody__mapperContentBodyAtlas__mapperContentBodyAtlasGo
            #map

  .teller
    .teller__tellerContent
      .teller__tellerContent__tellerContentSuggestion
        .teller__tellerContent__tellerContentSuggestion__tellerContentSuggestionBody
          -# suggestion items later
      .teller__tellerContent__tellerContentNews
        .teller__tellerContent__tellerContentNews__tellerContentNewsBody
          .teller__tellerContent__tellerContentNews__tellerContentNewsBody__tellerContentNewsBodyTitle
            %h2.newsTitle News
          .teller__tellerContent__tellerContentNews__tellerContentNewsBody__tellerContentNewsBodyCode
            .newsCode
              - @scoops.each do |scoop|
                .newsCode__newsCodeUrlImage
                  = link_to scoop.url, class: "scoopUrl" do
                    - if scoop.urlToImage.present?
                      = image_tag scoop.urlToImage, class: "scoopUrlToImage", width: "169", height: "121"
                .newsCode__newsCodeDateTitleDescription
                  .newsCode__newsCodeDateTitleDescription__newsCodeDateTitleDescription--date
                    = DateTime.iso8601(scoop.publishedAt, Date::ENGLAND).to_date.to_s
                  .newsCode__newsCodeDateTitleDescription__newsCodeDateTitleDescription--title
                    = scoop.title
                  .newsCode__newsCodeDateTitleDescription__newsCodeDateTitleDescription--description
                    = scoop.description