.wrapper
  .header
    .header__headerContent
      .header__headerContent__headerContentDoor
        .header__headerContent__headerContentDoor__headerContentDoorLogo
          = link_to root_path, class: "doorOpen" do
            %i.fas.fa-hiking
            %i.fas.fa-door-open
      .header__headerContent__headerContentKnock
        .header__headerContent__headerContentKnock__headerContentKnockTitle
          Knock-Knock!
      .header__headerContent__headerContentLink
        - if user_signed_in?
          .header__headerContent__headerContentLink__headerContentLinkLeft
            = link_to "AboutMe", "#", class: "leftBtn"
          .header__headerContent__headerContentLink__headerContentLinkRight
            = link_to "LogOut", "#", class: "rightBtn"
        - else
          .header__headerContent__headerContentLink__headerContentLinkLeft
            = link_to "SignUp", "#", class: "leftBtn"
          .header__headerContent__headerContentLink__headerContentLinkRight
            = link_to "LogIn", "#", class: "rightBtn"

  -# FIXME:
  .banner
    .banner__bannerContent
      .banner__bannerContent__bannerContentImage
        = image_tag "freeTravelPhoto1", alt: "", class: "p1", size: "900x300"

  -# #slideshow.slideshow
  #slideshow
    %img{:alt => "", :src => "freeTravelPhoto1", :class => "active"}/
    %img{:alt => "", :src => "freeTravelPhoto2"}/
    %img{:alt => "", :src => "freeTravelPhoto3"}/





  .contentsMap
    .contentsMap__mapx
      .contentsMap__mapx__topWord
        情報交換コラボレーション！
      .contentsMap__mapx__middleMap
        マップ埋め込み
        ピン立てる-----

        -# TODO:
        #js-map.map


      .contentsMap__mapx__bottomAbout
        選択したピンのアバウト抜粋
        ピンまでの距離
        ピンの時間と国名都市名

  .footer
    .footer__footerContent
      .footer__footerContent__footerContentFoot
        .foot
          %ul.footUl
            %li.footUlLi
              %h2.footUlLiHead
                "Information"
              %ul.footUlLiBody
                %li= link_to "Our Team", "#", class: "footest"
                %li= link_to "Report", "#", class: "footest"
            %li.footUlLi
              %h2.footUlLiHead
                "Support"
              %ul.footUlLiBody
                %li= link_to "Insights", "#", class: "footest"
                %li= link_to "Currency", "#", class: "footest"
            %li.footUlLi
              %h2.footUlLiHead
                "Related sites"
              %ul.footUlLiBody
                %li= link_to "Booking.com", "https://www.booking.com/index.en-gb.html", class: "footest"
                %li= link_to "Tripadvisor", "https://www.tripadvisor.com/", class: "footest"

      .footer__footerContent__footerContentRights
        .rights
          %h1.rightsHead
            Copyright (C) 2020 Kahoo! Corporation. All Rights Reserved.



-# %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=【---】"}
-# %script{:src => "map.js"}
-# .wrapper
-#   = render "header"
-#   = render "header_image"
-#   = render "items"
-#   = render "footer_image"
-#   = render "footer"
-#   = render "sell-camera"