.regis
  .regis__regisContent
    .regis__regisContent__regisContentHead
      %h2 Forgot your password?

    .regis__regisContent__regisContentBody
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource

        .regis__regisContent__regisContentBody__regisContentBodyFrom
          = f.label :email, class: "regisLabel"
          %span.regisMust Mmandatory
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "regisField", placeholder: "  your mail address"

        .regis__regisContent__regisContentBody__regisContentBodySubmit
          -# アクセス先作成後に下記へ修正
          -# = f.submit "Send me reset PW instructions", class: "regisContentBodySubmitBtn"
          = link_to  "Send me reset PW instructions", root_path, class: "regisContentBodySubmitBtn passwordsNew"

      = render "devise/shared/links"
