-# ===== abouts#new/edit part ===========================
.aboutsNew
  .aboutsNew__aboutsNewContent

    .aboutsNew__aboutsNewContent__aboutsNewContentHead
      .aboutsNew__aboutsNewContent__aboutsNewContentHead__aboutsNewContentHeadYou
        About Me Setting
      .aboutsNew__aboutsNewContent__aboutsNewContentHead__aboutsNewContentHeadDate
        - if @about.id
          %span.newContentHeadDateNow Update Date
          .newContentHeadDateUpdated
            = @about.updated_at
        - else
          %span.newContentHeadDateNow Update Date
          .newContentHeadDateUpdated (first setting)

    .aboutsNew__aboutsNewContent__aboutsNewContentForm
      = form_with model: @about, class: "newForm", local: true do |f|
        -# ----- 基本情報１ --------------------------------
        .newFormAbout
          .newFormAbout__newFormAboutTitle
            %span.newFormAboutTitleText 《Mandatory Information 1》
            %span.newFormAboutTitleMust ----------

          .newFormAbout__newFormAboutName
            .newFormAbout__newFormAboutName__newFormAboutNameTitle
              %span.newFormAboutNameText YOUR NAME
            .newFormAbout__newFormAboutName__newFormAboutNameCode
              = current_user.name
          .newFormAbout__newFormAboutContribution
            .newFormAbout__newFormAboutContribution__newFormAboutContributionTitle
              -# contribution function later
            .newFormAbout__newFormAboutContribution__newFormAboutContributionCode

          .newFormAbout__newFormAboutPhoto
            .newFormAbout__newFormAboutPhoto__newFormAboutPhotoTitle
              %span.aboutPhotoTitle ICON PHOTO (1/5)
            .newFormAbout__newFormAboutPhoto__newFormAboutPhotoCode
              .aboutPhotoCode
                #image-boxIcon.image-boxIcon
                  -# ````` preview part `````````````````````````
                  #previewsIcon.previewsIcon
                    -if @about.persisted?
                      - @about.photos.each_with_index do |pho, m|
                        = image_tag pho.image.url, data:{ indexIcon: m }, width: "100", height: "100"
                  -# ````` group part ```````````````````````````
                  = f.fields_for :photos do |i|
                    .jsFileGroupIcon{"data-indexIcon" => "#{i.index}"}
                      = i.label :image, class: "jsFileLabelIcon" do
                        = i.file_field :image, class: "jsFileIcon"
                        .jsRemoveIcon
                          delete icon
                    - if @about.persisted?
                      = i.check_box :_destroy, data:{ indexIcon: i.index }, class: "hiddenDestroyIcon"
                  -# ````` additonal group part (spare code)`````
                  -# no need anymore photo now (if few photos, then add)
                  -# - if @about.persisted?
                  -#   .jsFileGroupIcon{"data-indexIcon" => "#{@about.photos.count}"}
                  -#     = label_tag :image, class: "jsFileLabelIcon" do
                  -#       = file_field_tag :image, name: "about[photos_attributes][#{@about.photos.count}][image]", class: "jsFileIcon"
                  -#       .jsRemoveIcon
                  -#         delete icon
        %br
        %br
        %br
        -# ----- 基本情報２ --------------------------------
        .newFormBasic
          .newFormBasic__newFormBasicTitle
            %span.newFormBasicTitleText 《Mandatory Information 2》
            %span.newFormBasicTitleMust ----------

          .newFormBasic__newFormBasicNation
            .newFormBasic__newFormBasicNation__newFormBasicNationTitle
              %span.basicNationTitle NATIONALITY (2/5)
            .newFormBasic__newFormBasicNation__newFormBasicNationCode
              .basicNationCode
                = f.collection_select :nation_id, Nation.all, :id, :name

          .newFormBasic__newFormBasicLanguage
            .newFormBasic__newFormBasicLanguage__newFormBasicLanguageTitle
              %span.basicLanguageTitle LANGUAGES (3/5)
            .newFormBasic__newFormBasicLanguage__newFormBasicLanguageCode
              .basicLanguageCode
                = f.label :tag_list, 'add "," between languages'
                %br
                -# = text_field_tag "about[tag_list]", @about.tag_list.join(","), class: "taglist"
                = f.text_field :tag_list, value: @about.tag_list.join(","), class: "taglist"



          .newFormBasic__newFormBasicBirthday
            .newFormBasic__newFormBasicBirthday__newFormBasicBirthdayTitle
              %span.basicBirthdayTitle BIRTHDAY (4/5)
            .newFormBasic__newFormBasicBirthday__newFormBasicBirthdayCode
              %span.birthdayForm dd / mm / yyyy
              %br
              .basicBirthdayCode
                = f.date_select(:birthday, use_two_digit_numbers: true, order: [:day, :month, :year], start_year: (Time.now.year - 70), end_year: (Time.now.year - 10), default: Date.new(1990, 1, 1), date_separator: '/')

          .newFormBasic__newFormBasicSex
            .newFormBasic__newFormBasicSex__newFormBasicSexTitle
              %span.basicSexTitle SEX (5/5)
            .newFormBasic__newFormBasicSex__newFormBasicSexCode
              .basicSexCode
                = f.label :male
                = f.radio_button :sex, :male
                = f.label :female
                = f.radio_button :sex, :female
        %br
        %br
        %br
        -# ----- 追加情報 --------------------------------
        .newFormPlus
          .newFormPlus__newFormPlusTitle
            %span.newFormPlusTitleText 《Optional Information》
            %span.newFormPlusTitleMust ----------
          .newFormPlus__newFormPlusBody
            .newFormPlus__newFormPlusBody__newFormPlusBodyTitle
              %span.plusBodyTitle INTRODUCTION
            .newFormPlus__newFormPlusBody__newFormPlusBodyCode
              -# placeholder: "エスケープ処理を外す場合(.html_safe)を追記"
              = f.text_area :body, class: "plusBodyCode", size: "100x6", placeholder: "Example:\nRoute\nSchedule\nStyle\nSingle or..."
          .newFormPlus__newFormPlusPicture
            .newFormPlus__newFormPlusPicture__newFormPlusPictureTitle
              %span.plusPictureTitle PICTURES
            .newFormPlus__newFormPlusPicture__newFormPlusPictureCode
              .plusPictureCode
                #image-box.image-box
                  -# `````` 処理 Preview `````````````````````````
                  #previews.previews
                    -# @aboutに画像image登録->js裏側でsvとやり取り->存在すればpreview用JS発火
                    - if @about.persisted?
                      - @about.pictures.each_with_index do |pic, n|
                        -# imageタグで表示しつつindex番号付与->削除時にindex番号でpreviewも削除するため
                        = image_tag pic.image.url, data:{ index: n }, width: "100", height: "100"

                  -# `````` 処理 FileGroup１ ``````````````````````
                  = f.fields_for :pictures do |j|
                    -# fields_for内でj.indexより、build時にindexをあてがいカスタムデータとして要素を取得
                    .jsFileGroup{"data-index" => "#{j.index}"}
                      = j.label :image, class: "jsFileLabel" do
                        = j.file_field :image, class: "jsFile"
                        .jsRemove
                          ← delete left picture?
                    -# 既に 上記で@aboutが存在->保存済みimage削除用check_box->checkBoxをon->railsがレコード検索し削除実行
                    - if @about.persisted?
                      = j.check_box :_destroy, data:{ index: j.index }, class: "hiddenDestroy"

                  -# `````` 処理 FileGroup２ ``````````````````````
                  -# (edit遷移時のbuildは既存枚数分のみゆえ、追加用input作成)
                  -# abouts#edit時のみ走る->@aboutsが存在済み->新規画像追加の専用ボタンを表示
                  - if @about.persisted?
                    .jsFileGroup{"data-index" => "#{@about.pictures.count}"}
                      -# fields_for外なので_tagで実装
                      = label_tag :image, class: "jsFileLabel" do
                        = file_field_tag :image, name: "about[pictures_attributes][#{@about.pictures.count}][image]", class: "jsFile"
                        .jsRemove
                          ← delete left picture?

          .newFormPlus__newFormPlusInvitation
            .newFormPlus__newFormPlusInvitation__newFormPlusInvitationTitle
              %span.plusInvitationTitle INVITATION
            .newFormPlus__newFormPlusInvitation__newFormPlusInvitationCode
              = f.text_area :invitation, class: "plusInvitationCode", size: "100x4", placeholder: "Example:\nI wanna go out to eat with someone next Sunday at Paris.\nIt there anybody who is free??"
          .newFormPlus__newFormPlusRecommendation
            .newFormPlus__newFormPlusRecommendation__newFormPlusRecommendationTitle
              %span.plusRecommendationTitle RECOMMENDATION
            .newFormPlus__newFormPlusRecommendation__newFormPlusRecommendationCode
              = f.text_area :recommendation, class: "plusRecommendationCode", size: "100x4", placeholder: "Example:\n★★★★☆ Mt.Fuji@Japan -> Beautiful!\n★★★★★ Machu Picchu@Peru -> Amazing!\n★★★★★ Sagrada Família@Spain -> Crazy!"


        -# ----- 送信ボタン -----------------------------
        .newFormPost
          .newFormPost__newFormPostSubmit
            = f.submit "Set Button", class: "newFormPostSubmitBtn"
