%br
%br
%br
%br
%br
%br
%br
.aboutsNew
  .aboutsNew__aboutsNewContent

    .aboutsNew__aboutsNewContent__aboutsNewContentHead
      .aboutsNew__aboutsNewContent__aboutsNewContentHead__aboutsNewContentHeadYou
        About Setting
      .aboutsNew__aboutsNewContent__aboutsNewContentHead__aboutsNewContentHeadDate
        - if @about.id
          %span.newContentHeadDateUpdated Last Updated Date
          .newContentHeadDateUpdated
            = @about.updated_at
        - else
          %span.newContentHeadDateUpdated ( first setting )
          .newContentHeadDateUpdated

    .aboutsNew__aboutsNewContent__aboutsNewContentForm
      = form_with model: @about, class: "newForm", local: true do |f|
        -# =====  基本情報１  =========================
        .newFormAbout
          .newFormAbout__newFormAboutTitle
            %span.newFormAboutTitleText 《Basic Information 1》
            %span.newFormAboutTitleMust Mandatory
          .newFormAbout__newFormAboutPhoto
            .newFormAbout__newFormAboutPhoto__newFormAboutPhotoTitle
              %span.aboutPhotoTitle PHOTO ( Icon Image )
            .newFormAbout__newFormAboutPhoto__newFormAboutPhotoCode
              -# FIXME:
              .aboutPhotoCode
                #image-boxIcon
                  = f.fields_for :photos do |i|
                    .jsFileGroupIcon{"data-indexIcon" => "#{i.index}"}
                      = i.label :image, class: "jsFileLabelIcon" do
                        = i.file_field :image, class: "jsFileIcon"
                        .jsRemoveIcon
                          delete icon image
                  -# = image_tag @about.photos.image.url, class: "pppp" if @about.photos.image.present?
                  -# - about.photos.each do |photo|
                  -#   = image_tag photo.src.url


          .newFormAbout__newFormAboutName
            = current_user.name
            名前cccさんが表示されているよ！ccccccccccccccccccccccccccccc
          .newFormAbout__newFormAboutContribution
            （自動）草貢献度_優先度低い
        %br
        %br
        %br
        -# =====  基本情報２  =========================
        .newFormBasic
          .newFormBasic__newFormBasicTitle
            %span.newFormBasicTitleText 《Basic Information 2》
            %span.newFormBasicTitleMust Mandatory

          .newFormBasic__newFormBasicNation
            .newFormBasic__newFormBasicNation__newFormBasicNationTitle
              %span.basicNationTitle NATIONALITYs ( Hidden )
            .newFormBasic__newFormBasicNation__newFormBasicNationCode
              .basicNationCode
                -# = f.check_box
                -# .selectBox
                -#   = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
                -#   %i.fas.fa-chevron-down
                -# .delivery__day
                = f.collection_select :nation_id, Nation.all, :id, :name



          .newFormBasic__newFormBasicLanguage
            .newFormBasic__newFormBasicLanguage__newFormBasicLanguageTitle
              %span.basicLanguageTitle LANGUAGEs
            .newFormBasic__newFormBasicLanguage__newFormBasicLanguageCode
              .basicLanguageCode
                -# = f.check_box




          .newFormBasic__newFormBasicBirthday
            .newFormBasic__newFormBasicBirthday__newFormBasicBirthdayTitle
              %span.basicBirthdayTitle BIRTHDAY ( Hidden )
            .newFormBasic__newFormBasicBirthday__newFormBasicBirthdayCode
              %span.birthdayForm dd / mm / yyyy
              %br
              .basicBirthdayCode
                = f.date_select(:birthday, use_two_digit_numbers: true, order: [:day, :month, :year], start_year: (Time.now.year - 70), end_year: (Time.now.year - 10), default: Date.new(1990, 1, 1), date_separator: '/')
                -# Controllerへのデータ受け渡し未確認


          .newFormBasic__newFormBasicSex
            .newFormBasic__newFormBasicSex__newFormBasicSexTitle
              %span.basicSexTitle SEX
            .newFormBasic__newFormBasicSex__newFormBasicSexCode
              .basicSexCode
                = f.label :male
                = f.radio_button :sex, :male
                = f.label :female
                = f.radio_button :sex, :female
        %br
        %br
        %br
        -# =====  追加情報  ==========================
        .newFormPlus
          .newFormPlus__newFormPlusTitle
            %span.newFormPlusTitleText 《Additional Information》
            %span.newFormPlusTitleMust Optional
          .newFormPlus__newFormPlusBody
            .newFormPlus__newFormPlusBody__newFormPlusBodyTitle
              %span.plusBodyTitle INTRODUCTION
            .newFormPlus__newFormPlusBody__newFormPlusBodyCode
              -# = f.text_area :body, class: "plusBodyCode", size: "70x6", placeholder: "エスケープ処理を外す場合.html_safe追記へ変更".html_safe
              = f.text_area :body, class: "plusBodyCode", size: "70x6", placeholder: "Example:\nRoute\nSchedule\nStyle\nSingle or..."
          .newFormPlus__newFormPlusPicture
            .newFormPlus__newFormPlusPicture__newFormPlusPictureTitle
              %span.plusPictureTitle PICTURES (maximun 8 ??)
            .newFormPlus__newFormPlusPicture__newFormPlusPictureCode
              .plusPictureCode
                -# TODO:
                #image-box
                  = f.fields_for :pictures do |j|
                    .jsFileGroup{"data-index" => "#{j.index}"}
                      = j.label :image, class: "jsFileLabel" do
                        = j.file_field :image, class: "jsFile"
                        .jsRemove
                          delete picture





          .newFormPlus__newFormPlusInvitation
            .newFormPlus__newFormPlusInvitation__newFormPlusInvitationTitle
              %span.plusInvitationTitle INVITATION
            .newFormPlus__newFormPlusInvitation__newFormPlusInvitationCode
              = f.text_area :invitation, class: "plusInvitationCode", size: "70x4", placeholder: "Example:\nI wanna go out to eat with someone next Sunday at Paris.\nIt there anybody who is free??"
          .newFormPlus__newFormPlusRecommendation
            .newFormPlus__newFormPlusRecommendation__newFormPlusRecommendationTitle
              %span.plusRecommendationTitle RECOMMENDATION
            .newFormPlus__newFormPlusRecommendation__newFormPlusRecommendationCode
              = f.text_area :recommendation, class: "plusRecommendationCode", size: "70x4", placeholder: "Example:\n★★★★☆ Mt.Fuji@Japan -> Beautiful!\n★★★★★ Machu Picchu@Peru -> Amazing!\n★★★★★ Sagrada Família@Spain -> Crazy!"


        -# =====  送信ボタン  ==========================
        .newFormPost
          .newFormPost__newFormPostSubmit
            = f.submit "Set About Me", class: "newFormPostSubmitBtn"
