-# abouts#show second header part
= render "showSecondHeader"

-# abouts#show part
.aboutsShow
  .aboutsShow__aboutsShowContent
    -# some infomation ===================
    .aboutsShow__aboutsShowContent__aboutsShowContentSome
      .aboutsShow__aboutsShowContent__aboutsShowContentSome__aboutsShowContentSomeTitle
        - if current_user.id == @about.user.id
          %h.ContentSomeTitle About ME
        - else
          %h.ContentSomeTitle About HIM / HER
      .aboutsShow__aboutsShowContent__aboutsShowContentSome__aboutsShowContentSomeProfile
        .aboutsShow__aboutsShowContent__aboutsShowContentSome__aboutsShowContentSomeProfile__aboutsShowContentSomeProfilePhoto
          %h.someProfilePhotoTitle ICON PHOTO
          %p.onePhoto
            - @photos.each do |photo|
              = image_tag photo.image.url, class: "photoImage", size: "140x126"
        .aboutsShow__aboutsShowContent__aboutsShowContentSome__aboutsShowContentSomeProfile__aboutsShowContentSomeProfileTable
          %h.someProfileTableTitle ABOUTS
          %table.tabler{border: "1"}
            %tr
              %th
                Name
                %td
                  -# = @user.name
                  = @about.user.name
                  -# = @about.user_id
            %tr
              %th
                Nationality
                %td
                  = @about.nation.name
            %tr
              %th
                Languages
                %td
                  -# - @tags.each do |tag|
                  -#   = tag.name
                  = @about.tag_list
            %tr
              %th
                Sex
                %td
                  = @about.sex

    -# introduction ===================
    .aboutsShow__aboutsShowContent__aboutsShowContentBody
      .aboutsShow__aboutsShowContent__aboutsShowContentBody__aboutsShowContentBodyTitle
        %h.showContentBodyTitle INTRODUCTION
      .aboutsShow__aboutsShowContent__aboutsShowContentBody__aboutsShowContentBodyCode
        .showContentBodyCode
          -# h: <html>エスケープ、<script>除去
          = simple_format(h(@about.body))

    -# picturtes ===================
    .aboutsShow__aboutsShowContent__aboutsShowContentPicture
      .aboutsShow__aboutsShowContent__aboutsShowContentPicture__aboutsShowContentPictureTitle
        %h.showContentPictureTitle PICTURES
      .aboutsShow__aboutsShowContent__aboutsShowContentPicture__aboutsShowContentPictureCode
        .showContentPictureCode
          -# - if @about.pictures.image.present?
          - if @pictures.present?
            - @pictures.each do |picture|
              = image_tag picture.image.url, class: "pictureImage", size: "200x180"

    -# invitation ===================
    .aboutsShow__aboutsShowContent__aboutsShowContentInvitstion
      .aboutsShow__aboutsShowContent__aboutsShowContentInvitstion__aboutsShowContentInvitstionTitle
        %h.showContentInvitstionTitle INVITAION
      .aboutsShow__aboutsShowContent__aboutsShowContentInvitstion__aboutsShowContentInvitstionCode
        .showContentInvitstionCode
          = simple_format(h(@about.invitation))

    -# recommendation ===================
    .aboutsShow__aboutsShowContent__aboutsShowContentRecommendation
      .aboutsShow__aboutsShowContent__aboutsShowContentRecommendation__aboutsShowContentRecommendationTitle
        %h.showContentRecommendationTitle RECOMMENDATION
      .aboutsShow__aboutsShowContent__aboutsShowContentRecommendation__aboutsShowContentRecommendationCode
        .showContentRecommendationCode
          = simple_format(h(@about.recommendation))
